h2 {
    font-size: 28px;
    color: #cd7400fa;
    font-family: Gothia;
    font-weight: 500;
    margin-top: -20px;

}
.form-horizontal .has-feedback .form-control-feedback {
    right: -335px;
    top: -25px;
}
.help-block {
    display: block;
    margin-top: -27px;
    margin-bottom: 10px;
    width: 190%;
	}
.toggle-handle{
	width : 80px;
	}
.toggle-on.btn{
	padding-right:40px;
	}
.toggle-off.btn {
    padding-left: 45px;
}
.image{
width: 260px;
    height: 230px;
    margin-left: 520px;
}
.form-horizontal .control-label {
	text-align : left;
	margin-left : -8px;
	font-size: 20px;
    font-family: Calibri;
	color : #fff;
	font-weight:500;
	width: 165px;
	margin-top: -9px;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #ffffffd4;
    border-color: #ddd0;
    font-size: 25px;
}
.panel-heading {
    padding: 22px 30px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
}
.panel-default {
    border-color: #ddddddf2;
   width: 520px;
    margin-left: 405px;
}
.panel {
	margin-top: -40px;
    margin-bottom: 20px;
    background-color: #a09f9fa1;
    border: 1px solid transparent;
    border-radius: 20px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 10px 23px rgba(0, 0, 0, 1);
}
.form-control{
	width: 220%;
	padding:6px 40px;
	background-color: #ffffffab;
}
.content:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  top: 0; bottom: 0;
  z-index: -1;

  display: block;
  background-color: black;
  background-image: url('conferenceimage.jpg');
  width: 100%;
  height: 100%;
  background-size: cover;

  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(4px);
}
.btn-default:active:hover{
	background-color:#e6e6e6ad;
	border-color : #adadad;
}
.btn-warning:active:hover{
	background-color:#d58512a6;
	border-color : #adadad;
	
}
.glyphicon {
    position: relative;
    margin-left: -123px;
    top: 6px;
    font-size: 20px;
    color: black;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa {
    margin-left: -123px;
    font-size: 20px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 22px;
    margin-top: 6px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.gender{
	margin-left: 146px;
    margin-top: -3px;
}
.gendericon {
   font-size: 6px;
    margin-left: 23px;
    width: 22px;
    margin-top: -10px;
}
btn {
    display: inline-block;
    padding: 5px -2px;
    margin-bottom: 0;
    font-size: 14px;
    margin-left: -1px;
    margin-top: 0px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn1 {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    /* margin-left: 60px; */
    /* margin-top: -29px; */
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.fa-venus-mars {
color: #ababab;
}